.App {
  max-width: 960px;
  margin: 0 auto;
}

.Header {
  margin: 35px 0;
  position: relative;

  h1 {
    font-size: 24px;
  }

  &--contact {
    font-weight: 700;

    a {
      font-weight: 500;
      color: #989595;
      text-decoration: none;
    }
  }

  &--profile-picture {
    position: absolute;
    top: 0;
    right: 20px;
    width: 250px;
    transition: transform 0.3s ease-in;
    transform: rotate(-4deg);

    &:hover {
      transform: rotate(0deg);
    }
  }

  &--summary {
    width: 40em;
    margin-top: 20px;
    font-style: italic;
  }
}

main {
  .Section {
    display: flex;
    min-height: 100px;
    padding: 10px 0;

    &--left {
      flex: 1;
      padding: 0 20px;
      position: relative;

      h3 {
        text-align: right;
        font-style: italic;
      }

      &:after {
        content: "";
        height: 100px;
        width: 1px;
        position: absolute;
        top: 0;
        right: 0;
        background: #989595;
      }
    }

    &--right {
      flex: 4;
      padding: 0 20px;

      &-job-title {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 14px;
          color: #ff4500;
          opacity: 0.75;
          font-style: italic;
          padding-left: 25px;
          line-height: 22px;
        }
      }

      p span {
        font-weight: 700;
      }

      div {
        padding-bottom: 15px;

        &:nth-last-child(1) {
          padding-bottom: 0;
        }
      }

      ul {
        list-style: disc inside;
        padding-top: 10px;
      }
    }
  }
}

.Footer {
  display: flex;
  justify-content: center;
  background: #ff4500;

  svg {
    padding: 10px;
    font-size: 24px;
    color: #e1e1e1;
    transition: color 0.3s linear;

    &:hover {
      color: #ffffff;
    }
  }
}
